@font-face {
  font-family: 'irsans';
  src: url('irsans.ttf');
}
.mpicker {
  position: absolute;
  z-index: 100000;
  background-color: #000;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.mpicker * {
  font-family: irsans;
}
.mpicker__holder {
  width: 100%;
  overflow-y: auto;
}
.mpicker__holder,
.mpicker__frame {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.mpicker__holder {
  position: fixed;
}
.mpicker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 325px;
  width: 300px;
  max-height: 80%;
  opacity: 0;
}
.mpicker--opened .mpicker__holder {
  top: 0;
  background: rgba(0, 0, 0, 0.32) none repeat scroll 0 0;
}
.mpicker--opened .mpicker__frame {
  top: 10%;
  opacity: 1;
  bottom: auto;
}
.mpicker__wrap {
  display: block;
  width: 100%;
  height: 100%;
}
.mpicker__box {
  display: block;
  border-width: 1px 1px 0px;
  border-style: solid;
  border-color: #898989 #777 #777;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  box-shadow: 0px 12px 36px 16px rgba(0, 0, 0, 0.24);
  background: #FFF none repeat scroll 0% 0%;
  vertical-align: middle;
  border-radius: 2px;
  overflow: hidden;
  padding: 0;
}
.mpicker__date-display {
  text-align: center;
  background-color: #26A69A;
  color: #FFF;
  padding-bottom: 15px;
  font-weight: 300;
}
.mpicker__weekday-display {
  background-color: #1F897F;
  padding: 10px;
  font-weight: 200;
  font-size: 1rem;
  margin-bottom: 15px;
}
.mpicker__month-display {
  text-transform: uppercase;
  font-size: 2rem;
}
.mpicker__day-display {
  font-size: 4.5rem;
  font-weight: 400;
}
.mpicker__year-display {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.4);
}
.mpicker__calendar-container {
  padding: 0px 1rem;
}
.mpicker__header {
  text-align: center;
  position: relative;
  margin-top: 0.75em;
}
.mpicker__month,
.mpicker__year {
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.mpicker__select--year.browser-default {
  display: inline;
  background-color: #FFF;
  width: 25%;
  border: 1px solid #cccccc;
}
.mpicker__nav--prev,
.mpicker__nav--next {
  position: absolute;
  padding: 0.5em 1.25em;
  width: 1em;
  height: 1em;
  box-sizing: content-box;
  top: -0.25em;
}
.mpicker__nav--prev {
  right: -1em;
  padding-left: 1.25em;
}
.mpicker__nav--next {
  left: -1em;
  padding-right: 1.25em;
}
.mpicker__nav--prev::before,
.mpicker__nav--next::before {
  content: " ";
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 0.75em solid #676767;
  width: 0px;
  height: 0px;
  display: block;
  margin: 0px auto;
}
.mpicker__nav--next::before {
  border-left: 0px none;
  border-right: 0.75em solid #676767;
}
.mpicker__table {
  margin-top: 0px;
  margin-bottom: 0.5em;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
  font-size: 1rem;
  width: 100%;
}
.mpicker__calendar-container thead {
  border: medium none;
}
.mpicker__table th,
.mpicker__table td {
  text-align: center;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 2px;
}
.mpicker__weekday {
  font-size: 0.9rem;
  padding-bottom: 0.5em;
  width: 14.2857%;
  color: #999;
  font-weight: 500;
}
.mpicker__table td {
  margin: 0px;
  padding: 0px;
}
.mpicker__day--outfocus {
  display: none;
  padding: 0.75rem 0px;
  color: #FFF;
}
.mpicker__day--infocus {
  color: #595959;
  padding: 0.6rem 0px;
  font-weight: 400;
  border: 1px solid transparent;
}
.mpicker__day.mpicker__day--today {
  position: relative;
  color: #26A69A;
}
.mpicker__day--highlighted:hover,
.mpicker--focused .mpicker__day--highlighted {
  cursor: pointer;
}
.mpicker__day--selected,
.mpicker__day--selected:hover,
.mpicker--focused .mpicker__day--selected {
  border-radius: 50%;
  background: #0089EC none repeat scroll 0% 0%;
  color: #FFF;
  transform: scale(0.9);
  background-color: #26A69A;
}
.mpicker__day.mpicker__day--today.mpicker__day--selected {
  color: #FFF;
}
.mpicker__footer {
  text-align: right;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mpicker__close,
.mpicker__today {
  font-size: 1.1rem;
  padding: 0px 1rem;
  color: #26A69A;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  border: medium none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0px none;
  text-transform: uppercase;
  vertical-align: middle;
}
.mpicker__clear {
  box-shadow: none;
  background-color: transparent;
  color: #343434;
  cursor: pointer;
  border: medium none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0px none;
  padding: 0px 2rem;
  text-transform: uppercase;
  vertical-align: middle;
}
.mpicker__time {
  text-align: center;
  direction: ltr;
}
.mpicker__time-hours,
.mpicker__time-minutes {
  width: 40%;
  height: auto;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 5px 0;
}
.mpicker__time-separator {
  width: 10%;
  display: inline-block;
}
